* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}
header {
  display: flex;
  justify-content: center;
}
.logo {
  width: 70px;
}
/* main {
    background-color: #b1ee4f;
   
} */
/* .text {
    background-color: rgb(207, 83, 83);
} */
h1,
h5 {
  font-family: "Bebas Neue", cursive;
}
.mein h1 {
  font-size: 2.7rem;
}
p {
  font-family: "Montserrat", sans-serif;
}
a h1 {
  color: #bac1c5;
}
body {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
.icon {
  width: 50px;
}
.fondo1 {
  background-color: #c6dfee;
  height: 200px;
  position: relative;
}
.fondo {
  background-image: url("../img/rosa-mexicano.png");
  background-position: bottom;
  background-size: cover;
  height: 600px;
  top: 300px;
  position: relative;
}
.image {
  position: relative;
}
.hand {
  right: 10%;
  position: relative;
}
.cards-1 {
  bottom: 100px;
  position: relative;
}
.solution {
  position: relative;
}
.solution-img {
  position: relative;
}
/* 
.mein {
    bottom: 1000px;
    position: relative;
} */
.back {
  width: 100%;
  max-width: 768px;
  position: absolute;
}

.puntos {
  height: 300px;
  background-image: url(../img/textura.png);
  right: 10vw;
  bottom: 550px;
  position: relative;
}
.card {
  width: 13rem;
  border-color: white;
  border-radius: 0;
}
.navbar {
  background-color: #ffffff;
}
.about {
  background-color: #c6dfee;
  padding-right: 0px;
  position: relative;
}
.about h1 {
  margin-top: 30%;
}
.card-about {
  background-color: white;
  padding-top: 10%;
  width: 50%;
}
.foot {
  width: 100%;
  height: 100px;
  background-color: #c6dfee;
}
.branding {
  position: relative;
}
.branding-titulo {
  margin-top: 50px;
  background-color: white;
  height: 150px;
  display: flex;
  align-items: center;
}
.icon-about {
  max-width: 60px;
}
.branding-back {
  max-width: 768px;
  position: absolute;
  width: 100%;
}
.fondo-3 {
  margin-top: 20px;
  background-color: #c6dfee;
  height: 550px;
  position: relative;
}
.contact {
  position: relative;
  margin-bottom: 150px;
}
.contact-img {
  position: absolute;
}
.contact-img .container {
  margin: 0 auto;
}
.contact-card {
  position: relative;
  top: 50px;
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.356);
}
.foot p {
  margin-top: 50px;
  text-align: center;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
@media (max-width: 425px) {
  .fondo {
    background-color: #c6dfee;
    height: 1150px;
  }
  .puntos {
    height: 200px;
    right: 40vw;
    bottom: 770px;
  }
  .fondo1 {
    background-color: #c6dfee;
    height: 150px;
    top: 270px;
    right: 10vh;
    width: 18vh;
  }
  .mein {
    position: relative;
  }
  .cards-1 {
    padding-top: 50px;
    bottom: 0;
  }
  .hand {
    right: 0;
  }
  .card-main {
    display: flex;
    justify-content: center;
  }
  .card {
    justify-content: center;
    display: flex;
    width: 18rem;
  }
  .about h1 {
    margin-top: 0;
  }
  .about {
    padding-bottom: 60px;
  }
  .card-about {
    padding-top: 0px;
    margin-top: 20px;
    margin-left: 15px;
    padding-left: 30px;
    width: 90%;
  }
}
