

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.color-mlabs{
	color:#f50087;
}
.f-bold{
	font-weight: bold;
}
.msg-alto{
	height: 30px;
}












