
/////////////////////////////////////////
// 1. Patron de colores
////////////////////////////////////////
$principal: #C02D58;

////////////////////////////////////////
// 2.modificando variables de bootstrap
///////////////////////////////////////
$primary: $principal;
$enable-gradients:true;



@import "../libs/bootstrap/scss/bootstrap.scss";
