body{
    font-family:'Libertad-Book';
}
/* color de fondo */
.bg-be-grey{
    background-color: #f2f2f2;
}
.bg-be-blue{
    background-color: #004ea6;
}
/* color de fuente */
.color-be-grey{
    color: #777777;
}
    /* SETTING THE FONTS FOR THE WEB */
@font-face {
    font-family: 'Libertad-Medium';
    font-style: normal;
    src: url('../fonts/Libertad-Medium.otf');
}
@font-face {
    font-family: 'Libertad-Bold';
    font-style: normal;
    src: url('../fonts/Libertad-Bold.otf ');
}
@font-face {
    font-family: 'Libertad-Thin';
    font-style: normal;
    src: url('../fonts/Libertad-Thin.otf');
}
@font-face {
    font-family: 'Libertad-ExtraBold';
    font-style: normal;
    src: url('../fonts/Libertad-ExtraBold.otf');
}
@font-face {
    font-family: 'Libertad-Book';
    font-style: normal;
    src: url('../fonts/Libertad-Book.otf');
}
@font-face {
    font-family: 'Libertad-Light';
    font-style: normal;
    src: url('../fonts/Libertad-Light.otf');
}
.libertad-medium{
	font-family:'Libertad-Medium';
}
.libertad-bold{
	font-family:'Libertad-Bold';
    letter-spacing: 0.25em;
    word-spacing: 0.25em;
    font-weight: bolder;

}
.libertad-thin{
	font-family:'Libertad-Thin';
}
.libertad-extra-bold{
	font-family:'Libertad-ExtraBold';
}
.libertad-book{
	font-family:'Libertad-Book';
}
.libertad-light{
	font-family:'Libertad-Light';
}
.sunset-solar-panel{
    background-image: url('../img/sunset-solar-panel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
.formulario{
    background-color: #004ea6;
    color: white;
    padding: 3%;
    
}
.td_nombre{
    width: 80px;
}
.input_text{
    background-color: #004ea6;
    border-color: white;
    border: 2px solid white;
    color:#ffffff;
}
.input_email{
    background-color: #004ea6;
    border-color: white;
    border: 2px solid white;  
    padding-left: 15%;
}
.tabla{
    padding: 100px;
}
.politicas{
    width: 450px;
    padding-left: 3%;
}
.boton_enviar{
    background-color: white;
    color: black;
    border: none;
    margin-top: 4%;
    font-size: 30px;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 8%;
}
.pie_pagina{
    background-color: black;
    color: white;
    padding-top: 18px;
    padding-bottom: 10px;
    padding-left: 60px;
}
.encabezado{
    background-color: #004ea6;
    color: white;
    padding-top: .5%;
    padding-bottom: .5%;
    /* position: fixed; */
    z-index: 100;
    width: 100%;
}

.main-be-navbar a.nav-link {
    text-transform: uppercase;
    color: #ffffff;
    background-color: none;
}
ul.main-be-navbar{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.main-be-navbar .nav-link.active,
.main-be-navbar .nav-link:hover {
text-transform: uppercase;
    color: #ffffff;
    /* background-color: #1d1d1d; */
}
.main-be-navbar .nav-item {
    /* border-right: 2px solid #000000; */
}
.main-be-navbar .nav-item:last-child {
    /* border-right: 1px solid #1d1d1d; */
}
.fuente_gris{
    color: gray;
    font-size: 185%;
}
.fuente_gris_p{
    color: gray;
    font-size: 100%;
    font-family:'Libertad-Thin';
}
.carrusel-propio{
    background-image: url("../img/first-slide.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    background-size: auto;
}
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    /* position: absolute; */
    /* right: ((100% - $carousel-caption-width) / 2); */
    /* bottom: 20px; */
    /* top: 0em; */
    /* left: ((100% - $carousel-caption-width) / 2); */
    /* z-index: 10; */
    /* padding-top: 200px; */
    /* padding-bottom: 20px; */
    /* color: $carousel-caption-color; */
    /* text-align: center; */
    text-transform: uppercase;

  }
  .carousel-caption h5,
  .carousel-caption h3 {
    text-transform: uppercase;
  }
  .menu_top {
      position: absolute;
     z-index: 2;
     display: block;
     width: 100%;
     float: left;
     padding-left: 20%;
     padding-right: 20%;
  }
  .modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 80%;
	position: relative;
	margin: 2% 10%;
	padding: 50px 40px 13px 40px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
height: 95%;
overflow: auto;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: fixed;
	right: 2%;
	text-align: center;
	top: 1%;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
    
}
.close:hover { background: #00d9ff; }
.sin-sub{
    text-transform: uppercase;
    color: #ffffff;
    background-color: none;
    text-decoration: none;
}
.relative-bottom{
    /* position:relative; */
    bottom: 0px;
}

.boton{
    background-color: #456789;
    color: white;
    border: none;
   
    cursor: pointer;
}
.links a{
    text-decoration: none;
    color: white;
    display: block; 
    transition: all .3s;
  
}
.links{
    transition: all 1s;
    display: none;
    font-family:'Libertad-Thin';
}
.linksb :hover{
    transition: all .2s;
    margin-left: 9%;
    margin-right: 2%;

}
.links a:hover{
    background-color: rgba(28, 0, 104, 0.2);
    padding-bottom: 5%;
    padding-top: 10%;
    
    color: black;
    font-family:'Libertad-ExtraBold';
    
    
}
.desplegable:hover .links{
    transition: all 1s;
    display: block;
    position: absolute;

}
.logo{
    max-width: 25%;
    max-height: 25%;
}
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body,
html,
h1 {
  margin: 0;
  padding: 0;
  font-family: 'Alata', sans-serif;
}

section {
  height: 100vh;
}

h1 {
  display: block;
  text-align: center;
  font-size: 4rem;
}

h2 {
  text-align: center;
}

.content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
  opacity: 1;
  transform: translate(0, 0);
  transition: all 1s;
}

.content > div {
  margin: 0 auto;
  background-color: #fff;
  width: 50%;
  height: 100%;
  grid-area: 2 / 2 / 5 / 5;
}

.gray {
  background-color: #333;
}

.blue {
  background-color: #0e1424;
}

.darkgray {
  background-color: #333f44;
}

.fadeTop {
  opacity: 0; 
  transform: translate(0vh, 40vh);
  transition: all .9s;
  align-items: center;
}
.fadeRight {
  opacity: 0;
  transform: translate(40vh, 0vh);
  transition: all 1.5s;
}

.fadeLeft {
  opacity: 0;
  transform: translate(-40vh, 0vh);
  transition: all 1.5s;
}

.visible {
  opacity: 1;
  transform: translate(0, 0);
}
.dblock{
    display: block;
}
.imges{
 
    left: 30px;

}
.bsolid{
  
    margin: 0;
}
atd{
    width: 50%;
}
.fsr{
    font-size: 1.6vw;
}
.fsrt{
    font-size: 3vw;
}
.imgzoom{
    
}
.imgzoom :hover{
-webkit-transform: scale(1.2);
transform: scale(1.2);
transition: all .5s;
}
.zoomneg{

}
.zoomneg :hover{
    -webkit-transform: scale(.9);
    transform: scale(.9);
    transition: all .5s;
    }
.textzoom :hover{
    font-size: x-large;
    transition: all .4s;
    background-color: #456789;
    color: white;
}